@import './base/normalize';
@import './utils/variables';
@import './base/defaults';

@import'./components/common';
@import './components/hero';
@import './components/about';
@import './components/features';
@import './components/team';
@import './components/workers';
@import './components/clients-list';
@import './components/social-networks';
@import './components/modal';
@import './components/portfolio';
@import './components/checkbox';
@import './components/backdrop';



/* /* .header a {
    /* color: white-color; */
    /* color: inherit; */
    /* color: currentColor; */
    /* color: $white-text;
/* }  */


/* ----------------------H E A D E R---------------------- */

// --------------------- N A V - L I S T ---------------------

// --------------------- C O N T A C T S - L I S T ---------------------

// .title {
//     color: $dark-graphite-text;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: 0.03em;
// }

/* L O G O */

/* ----------------------H E R O---------------------- */

/* ----------------------A B O U T p 1 ---------------------- */

/* ----------------------A B O U T p 2 ---------------------- */

/* ---------------------- T E A M ---------------------- */

// ---------------------- W O R K E R S ----------------------

/* ----------------------C L I E N T S---------------------- */

/* ----------------------F O O T E R---------------------- */

/* ----------------------P O R T F O L I O---------------------- */

/* portfolio__list a:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* .portfolio__list li:hover,
.portfolio__list li:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* .pf-links:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
} */

/* .card-name-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    background: $main-bg-color;
    border: 1px solid $border-color-frame;
    box-sizing: border-box;
    display: flex;
} */

/* .pf-links:hover,
.pf-links:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* .pf-card::before {
    content:"";
    display: flex;
    position:absolute;
    height:294px;
    width: 100%;
    top:0;
    background-color:$blue-color;
    opacity: 0;
   
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .pf-images-overlay:hover {
    display: inline-block;
    position:absolute;
    top: 50px;
    left: 50px;
    /* transform: translate (-50%, -50%); */
    /* width: 100%; */


// M O B I L E ---------- M E N U ------------------------ //


.menu-container {
    position: fixed;
    top:0;
    left:0;
    padding-top: 48px;
    padding-left: 40px;
    width:100vw;
    height:100vh;
    background-color: $white-color;
    z-index:100;

    transform:translateX(100%);
    transition: transform $transition-time;
}

.menu-container.is-open {
    transform:translateX(0);
    transition: transform $transition-time;
}

.menu-toggle.js-close-menu {
    fill:$dark-graphite-text;
    background-color: transparent;
    border:none;
    outline:transparent;
    position:absolute;
    top:10px;
    right:15px;
    cursor:pointer;
    
}

.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
    fill:$blue-color;

    transition: fill $transition-time;
}

.mobile-nav {
    margin-bottom: 270px;
    color:$dark-graphite-text;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
}

.mobile-nav__item {
    margin-bottom: 32px;
}

.mobile-nav__link {
    color:$dark-graphite-text;
}

.mobile-nav__link.current {
    color:$blue-color;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
    color:$blue-color;

    transition: color $transition-time;
} 

.mobile-contacts {
    color:$grey-text;
    margin-bottom: 64px;
}

.mobile-contacts__item {
    margin-bottom: 32px;
}

.mobile-contacts__item:not(:last-child) {
    
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
}

.mobile-contacts__item:not(:first-child) {
    
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
}

.mobile-contacts__link {
    color:$grey-text;
}

.mobile-contacts__link:hover,
.mobile-contacts__link:focus {
    color:$blue-color;

    transition: color $transition-time;
} 


.mobile-social {
    display:flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
}

.mobile-social__link {
    color: $blue-color;
    
    
}


.mobile-social__item:not(:first-child) {
    border-left: 1px solid $light-grey-icons;
    padding-right:10px;
    padding-left:10px;
}

.mobile-social__item:first-child {
    padding-right:10px;
}






