.about__container {
    /* display: flex; */
    padding-top: 94px;
    padding-bottom: 94px;

    @media (max-width: 480px) {
        max-width: 480px;
        padding-top: 0;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        max-width:768px;
    }

}


.about-thumb {
    position: relative;

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display:none;
    }
    

    &__image {
        width: 370px;
        margin:auto;
    }
    
    &::before {
        content:"";
        display: inline-block;
        position:absolute;
        height:70px;
        width: 100%;
        bottom:0;
        background-color: rgba(47, 48, 58, 0.8);
    }
    
    &__label {
        color:$white-color;
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 480px) {
            display:none;
        }
    }

    &:not(:last-child) {
        margin-right: 30px;

        @media (max-width: 480px) {
            display:none;
        }
    }
      
    &:not(:first-child) {
        margin-left: 30px;

        @media (max-width: 480px) {
            display:none;
        }
    }
}

.about-pictures {
    padding-bottom: 94px; 

    @media (max-width: 480px) {
     display:none;
     margin:0;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display:none;
    }

    &__title {
        margin-bottom: 50px; 
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 480px) {
            display:none;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            display:none;
        }
    }

    &__block {

    

        display: flex;
        margin-top: 50px;
        justify-content: center;

        @media (max-width: 480px) {
            display:none;
        }
    }
}
 

.images-overlay {
    display: inline-block;
    position:absolute;
    top: 251px;
    width: 100%;
}