.clients .container {
    align-items: center;

    @media (max-width:480px) {
        width: 480px;
        padding-top: 15px;
        padding-right: 15px;
        
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        max-width: 768px;
        padding-top: 15px;
        padding-right: 15px;
    }
}

.clients {
    &__title {
        color: $dark-graphite-text;
        padding-top:94px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;

        @media (max-width:480px) {
            width:480px;
            justify-content: center;
            align-items: center;
            padding-top:60px;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
           
            padding-top:60px;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
        }

    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 94px;
    margin-right: -15px;
    margin-top: -15px;


    @media (max-width:480px) {
        max-width: 480px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: -15px;
        margin-top: -15px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: -15px;
        margin-top: -15px;
    }

    &__icon {
        align-items: center;
        justify-content: center;
        fill:$light-grey-icons;

        
    }

    &__item:nth-child(2n+2) {
        @media (max-width:480px) {
            margin-left:30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-left:0;
            margin-right: 15px;;
        }
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;

        @media (max-width:480px) {
            margin-right:0px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-right:15px;
        }
    }
    
    &__icon:hover,
    &__icon:focus {
        fill: $blue-color;

    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 90px;
      
        color: $light-grey-icons;
      
        border-radius: 4px;
        border: 1px solid $light-grey-icons;

        @media (max-width:480px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width:210px;
            height:90px;

        }
       
        @media screen and (min-width: 481px) and (max-width: 768px) {
            width:226px;
            
        }
    }
      
    &__icon {
        fill: currentColor;
    }
      
    &__link:hover,
    &__link:focus {
        color:$blue-color;
        border: 1px solid $blue-color;
    }

    &__item {
        @media (max-width:480px) {
            margin-bottom: 30px;
            margin-right: 15px;
            margin-top: 15px;
            flex-basis: calc(100% / 2 - 30px);
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
           
            margin-bottom: 30px;
            margin-right: 15px;
            margin-top: 15px;
            flex-basis: calc(100% / 3 - 30px);
        }
    }

}
