.contacts-list {
    @media (max-width:480px) {
        display:none;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        display:flex;
        flex-direction: column;
        justify-content: left;
    }


    &__item:not(:first-child) {
        margin-left:30px;
        margin-right: 0;

        @media (min-width: 481px) and (max-width: 768px) {
            margin-left:0;
            margin-top: 10px;
        }
    }
    
    &__link {
        display: flex;
        color: $grey-text;
        align-items: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $grey-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        transition: color $transition-time;

        @media screen and (min-width: 481px) and (max-width: 768px) {
            padding-top: 0px;
            padding-bottom: 0px;
            justify-content: left;
        }
    
    }

    
    &__link:not(:last-child) {
        @media (min-width: 481px) and (max-width: 768px) {
            margin-top: 21px;
            margin-bottom: 10px;
        }
    }

    &__icon {
        display: inline-block;
        align-items: center;
        margin-right: 10px;
        fill:currentColor;
    }

    &__link:hover,
    &__link:focus,
    &__link:hover .header-contacts__icon,
    &__link:focus .header-contacts__icon,
    &__link:hover .header-contacts__icon,
    &__link:focus .header-contacts__icon {
        color: $blue-color;
        fill:$blue-color;
    }
}