.features {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    background: transparent;

    @media (max-width:480px) {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 60px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        width: 270px;
        height: 100px;

        @media (max-width:480px) {
            display:flex;
            flex-direction: column;
            width:450px;
            

        }

        @media screen and (min-width: 481px) and (max-width: 768px) {}
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 354px;
        height:251px;
        margin:15px;
        flex-basis: calc((100% - (2 * 30px)) / 2 );
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;

        @media (max-width:480px) {
            margin-left:15px;
            margin-right:15px;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin:15px;
        }
    }

    &__title {
        margin-bottom: 10px;
        color: $dark-graphite-text;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
        @media (max-width:480px) {
            margin-bottom: 10px;
            color: $dark-graphite-text;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
        }

    }
    
    &__article {
        color: $grey-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;

        @media (max-width:480px) {
            text-align: center;
            color: $grey-text;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            margin-bottom: 0;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            text-align: center;
            color: $grey-text;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            margin-bottom: 0;
            
        }

    }
    
    &__icon {
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
    }
    
    &-thumb {
        display: flex;
        background: $light-grey-bg-team;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 270px;
        height: 120px;

        @media (max-width:480px) {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            width:450px;
            height: 120px;
            padding: 25px 190px 25px 190px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            display:flex;
            justify-content: center;
            align-items: center;
            width:354px;
            height:120px;
            padding: 25px 142px 25px 142px;
            
        }
    }
    
    
}