.footer {
    background-color: $graphite-bg;
    @media (max-width: 480px) {
        width:480px;
    }


   

    &__container {
        display: flex;
        align-items: baseline;
        padding-top: 60px;
        padding-bottom: 60px;
        justify-content: left;

        @media (max-width: 480px) {
            max-width: 480px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            max-width: 768px;
            padding-left: 15px;
            padding-right: 15px;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            
            
        }
    }

    &__title {
        margin-left: 93px;
        margin-bottom: 20px;
        color:$white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 480px) {
            text-align: center;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
        }

    }

    &__logo {
        @media (max-width: 480px) {
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 481px) and (max-width: 768px) {
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: auto;
            margin-top: 0;
            margin-bottom: 20px;
        }
    
    }
}

.footer-form {
    display:flex;

    @media (max-width: 480px) {
        max-width: 480px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    
    @media screen and (min-width: 481px) and (max-width: 768px) {
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    &__input {
        margin-right: 12px;
        padding-top:15px;
        padding-bottom:15px;
        padding-left: 16px;
        background-color: $graphite-bg;
        width:358px;
        height:50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: $light-grey-stroke;
        font-family: 'Roboto', sans-serif;
        border: 1px solid $grey-text;
        border-radius: 4px;
        outline:transparent;

        @media (max-width: 480px) {
            width:450px;
            margin-left: 15px;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            width:450px;
            margin: auto;
        }
    }
    
    &__input:hover,
    &__input:focus {
        outline:transparent;
    }
    
    &__block {
        margin-left: 93px;
        margin-right: auto;


        @media (max-width: 480px) {
            margin-left: 0;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 0;
        }

    }
}

.footer-button {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding:10px 28.5px;
    background-color: $blue-color;
    outline:transparent;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $white-color;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor:pointer;

    @media (max-width: 480px) {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
      

    &__icon {
        margin-left: 10px;
    }

}

.footer-address {
    /* display: block; */
    margin-top: 20px;

    @media (max-width: 480px) {
        text-align: center;
        margin: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        text-align: center;
        margin-bottom: 60px;
        
    }
        


    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    
    &__link.white {
        color:$white-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
    
    &__link {
        color: $white-text-op60;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

}

.footer-links {
    margin-left: 70px;

    @media (max-width: 480px) {
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        margin-top: 0;
    }

    &__title {
        align-items: baseline;
        margin-bottom: 20px;
        color:$white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 480px) {
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            text-align: center;
            margin: auto;
            margin-top: 0;
            margin-bottom: 20px;
        }

    }

    .social-networks__link.footer {
        margin-top: 0;
    }

}


