.nav-list {

    &__link {
        color: $black-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        position:relative;
    
        transition: color $transition-time;
    }
    
    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link:hover,
    &__link:focus {
        color: $blue-color;
    }
    
    
    &__link.current::after {
        content:"";
        position:absolute;
        display:block;
        background-color: $blue-color;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom:-33px;
    }

}

.nav-list__link .current {
    color: $blue-color;
}