.portfolio {

    &__container {
        padding-top: 94px;
        padding-bottom: 94px;

        @media (max-width:480px) {
            max-width: 480px;;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__title {
        display:none;
    }
    
    &__btns {
        display: flex;
        margin-left: 280px;
        margin-right: 279px;
        margin-bottom: 50px;
        justify-content: center;

        @media (max-width:480px) {
            display:inline;
            margin-left:15px;

        }
    }
    
    &__btns a:nth-child(1) {
        margin-right: 8px;
        margin-left: 0;

        @media (max-width:480px) {
            margin-bottom: 15px;
        }
    }
    
    &__btns a:nth-child(2) {
        @media (max-width:480px) {
            margin-bottom: 15px;
        }
    }
    
    &__btns a:nth-child(3) {
        margin-right: 8px;
        margin-left: 0;

        @media (max-width:480px) {
            margin-bottom: 15px;
        }
    }
    
    
    &__btns a:nth-child(2n + 2) {
        margin-right: 8px;
        margin-left: 0;

        @media (max-width:480px) {
            margin-left: 0;
        }
    }
    
    &__btns a:nth-child(4) {
        

        @media (max-width:480px) {
            margin-left: 15px;
        }
    }

    &__btn {
        
        background-color: $light-grey-bg-team;
        padding: 6px 22px;
        color: $dark-graphite-text;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        height: 38px;
        width: auto;
        border-radius: 4px;

        @media (max-width:480px) {
            
            
        }
    }
    
    &__btn:hover,
    &__btn:focus {
        background-color: $blue-color;
        color: $white-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: -30px;
    margin-left: -30px;

    @media (max-width:480px) {
        display: block;   
        justify-content: center;    
        align-items: center;
    }

    &__item {
        background-color: $white-color;
        outline: 1px solid $light-grey-stroke;
        /* border: 1 px solid $light-grey-stroke; */
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        margin-top: 30px;
        box-sizing: border-box;
        position:relative;
    
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
    }
    
    &__title {
        color:$dark-graphite-text;
        margin-top: 20px;
        margin-bottom: 4px;
        margin-left: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        font-family:'Roboto', sans-serif;
    }
    
    &__type {
        color: $grey-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        margin-left: 24px;
        padding-bottom: 20px;
        font-family:'Roboto', sans-serif;
    }
      
    &__item:hover ,
    &__item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &__overlay {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:$blue-color;
        opacity: 0;
        padding: 63px 24px;    
    
        transform: translateY(100%);
        transition: transform $transition-time, opacity $transition-time;
    }
    
    &__cover {
        position: relative;  
      overflow: hidden;
      border-style: none;
      width: 368px;
      height: 294px;

      @media (max-width:480px) {
        width: 450px;
        height: 294px;
      }
    }
    
    &__link:hover .portfolio-list__overlay,
    &__link:focus .portfolio-list__overlay  {
        transform: translateX(0);
        opacity: 0.9;
    }
    
    &__overlay p {
        color: $white-color;
        position:absolute;
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        font-family:'Roboto', sans-serif;
        top:63px;
        left:24px;
    }

    &__image {
        @media (max-width:480px) {
        width:450px;
        height:294px;
        }
    }
}