.team .container {
    /* display: flex; */
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;

    @media (max-width: 480px) {
        max-width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        max-width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

.team {
    
    background-color: $light-grey-bg-team;

    @media (max-width: 480px) {
        max-width: 480px;
        background-color: $light-grey-bg-team;
    }

    &__title {
        margin-bottom:94px;
        color: $dark-graphite-text;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;

        @media (max-width: 480px) {
            margin-bottom:30px;
        }
    }

    
}