.workers-set {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0; 

    @media (max-width:480px) {
        display: block;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin-left: 15px;
        margin-right: 15px; 
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top:-15px;
        margin-right:-15px;
    }


    &__item:nth-child(1) {
        margin-right: 30px;

        @media (max-width:480px) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }
    }
    
    &__item:nth-child(2) {
        margin-right: 30px;

        @media (max-width:480px) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }
    }
    
    &__item:nth-child(3) {
        margin-right: 30px;

        @media (max-width:480px) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }
    }
    
    &__item:nth-child(4) {
        @media screen and (min-width: 481px) and (max-width: 768px) {
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom:30px;
        }
    }

    &__item {
        width: 270px;

        @media (max-width:480px) {
            width: 450px;
            height: 622px;
            margin-left: 15px;
            margin-right: 15px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            
            width: 354px;
            height: 536px;
            margin-top: 15px;
            margin-right: 15px;
            flex-basis: calc((100% - 30px) / 2);
        }
    }

    &__photo {
        width:270px;

        @media (max-width:480px) {
            width: 450px;
            height: 460px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            
            width: 100%;
            height: 374px;
        }
    }

}

.worker-profile {
    background-color: $white-color;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &__name {
        margin-bottom: 10px;
        color: $dark-graphite-text;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
    }
    
    &__position {
        color: $grey-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
    }

}